<!DOCTYPE html>
<html>
<head>
  <title>Wellspring</title>
  <%= stylesheet_link_tag    "wellspring/application", media: "all" %>
  <%= javascript_include_tag "wellspring/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
